<% provide :title do %><%= t("pages.titles.more_info", org_name: setting['org_name']) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_url %>
<% end %>

<div class="jumbo light">
  <div class="row">
    <div class="medium-8 small-12 column">
      <h2><%= t("pages.more_info.title", org_name: setting['org_name']) %></h2>
      <p class="lead"><%= t("pages.more_info.subtitle") %></p>
      <p><%= t("pages.more_info.guide", org_name: setting['org_name']) %></p>
    </div>
    <div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/more_info/sidebar" %>
    </div>
  </div>
<!--
  <%= render "pages/more_info/menu" %>
-->
</div>
<div class="row">
  <div class="medium-9 small-12 column">
     
  <h2>¿Qué son los Presupuestos Participativos?</h2>
  <ul>
    Los  Presupuestos Participativos son un mecanismo por el que la ciudadanía decide  el destino de una parte de los recursos municipales estableciendo prioridades en materia de gastos y realizando un control posterior de los compromisos alcanzados.<br/><br/>
  </ul><h2>¿Qué cantidad destina el Ayuntamiento a los Presupuestos Participativos?</h2>

  <ul>

    El Ayuntamiento de Valladolid destinará 5 millones de euros a presupuestos Participativos para el ejercicio de 2020,  repartidos  en 500.000 € para cada una de las zonas geográficas en que se ha dividido la ciudad.<br/><br/>

  </ul>
<h2>¿Quién puede participar?</h2>

  <ul>

    Podrán tomar parte en este proceso los mayores de 16 años empadronados en el municipio.<br/><br/>

  </ul>
<h2>¿Cuáles son las fases del proceso?</h2>

<div>
<ul class="lista">

  <li><strong>Convocatoria de Asambleas Informativas  y constitución  de mesa de zona:</strong><br/></li>

    <p>Entre los días 5 y 11 de abril se realizarán las asambleas informativas para la elección de las mesas de zona, formadas por representantes de asociaciones de vecinos, otros colectivos vecinales y ciudadanos a título particular, encargados de priorizar las propuestas presentadas.</p>

  <li><strong>Recogida de propuestas:</strong><br/></li>

    <p>Del 15 al 3 de mayo podrás presentar propuestas sobre cómo invertir los 5 millones que el Ayuntamiento ha destinado a los presupuestos participativos (500.000 € por zona).</p>

  <li><strong>Evaluación:</strong><br/></li>

    <p>Desde el día 3 y hasta el 7 de junio, las mesas de zona ordenarán y priorizarán las propuestas de zona en base a los criterios establecidos.<br/><br/>
    Entre el 10 de julio y el 13 de septiembre, el personal técnico municipal valorará económicamente las propuestas remitidas por cada mesa de zona.</p>

  <li><strong>Debate de propuestas:</strong><br/></li>

    <p>Entre los días 7 y 11 de octubre se realizarán las Asambleas de Zona para que tú debatas sobre las propuestas evaluadas y decidas la relación definitiva de propuestas que va a presentarse a la ciudadanía para la votación final.</p>

  <li><strong>Votación final.</strong><br/></li>

    <p>Del 15 al 28 de octubre se desarrollará la fase de votación final en la que tú decides cómo distribuir los 500.000 € de tu zona.
    Las propuestas más votadas en cada zona, hasta un total de 500.000 €.
    La suma de las propuestas de cada zona, hasta 5 millones de euros, se incorporarán al proyecto del Presupuesto General del Ayuntamiento de Valladolid.</p>

</ul>

<br/>
</div>
<h2>¿Qué puedo proponer?</h2>

  <ul>

    Este año podrás hacer propuestas de inversión para ser ejecutadas por el Ayuntamiento durante el año 2020 en la zona donde estás empadronado (o en la zona de la ciudad que tú elijas).<br/><br/>

    <h4>Para que la propuesta sea válida, tiene que ajustarse a los siguientes criterios:</h4>
      
      <ul>
        <li>Ser una inversión.<br/></li>
        <li>Ser de competencia municipal.</li>
        <li>Ser viable técnicamente.</li>
        <li>Que el coste no supere el importe de 500.000€ por zona que se destina este año a este proceso.</li>
      </ul>

      <br/>
    

    <h4>En qué podemos invertir:</h4>

    Las propuestas deben ser de inversión y ajustarse al presupuesto
    disponible. Una propuesta de inversión es aquélla que supone un gasto en
    creación de nuevos equipamientos o infraestructuras,
    arreglo/modificación/mejora de las ya existentes y adquisición de bienes
    inventariables. Es decir, se trata de algo tangible que será beneficioso
    en el futuro.<br/><br/>

    <h4>Además, las propuestas deben cumplir una serie de criterios:</h4>
    <ul>
      <li>Atender a necesidades básicas de la población.</li>
      <li>Beneficiar al mayor número de personas y colectivos.</li>
      <li>Atender a colectivos en situación de riesgo de exclusión.</li>
      <li>Que no existan inversiones previas similares.</li>
      <li>Que promuevan equilibrio territorial entre zonas y barrios.</li>
      <li>Que tengan un contenido ecológico o sostenible a favor del medio ambiente.</li>
      <li>Que favorezcan la participación ciudadana.</li>
      <li>Que favorezcan la igualdad de género entre mujeres y hombres.</li>
    </ul>
    <br/>
    <h4>Algunos ejemplos de inversión:</h4>
      <ul>
        <li>Arreglar aceras</li>
        <li>Alcantarillado</li>
        <li>Sendas peatonales</li>
        <li>Carriles bici</li>
        <li>Iluminación pública</li>
        <li>Zonas deportivas</li>
        <li>Parques y zonas verdes</li>
        <li>Señalización viaria</li>
        <li>Mobiliario urbano</li>
        <li>Mejora en urbanizaciones</li>
        <li>Equipamientos de pequeña envergadura</li>
        <li>Mejora o acondicionamiento de equipamientos ya existentes</li>
      </ul>
    <br/>
    <h4>Son propuestas inviables:</h4>

    No podrán ser tenidas en cuenta las propuestas que:
    <ul>
      <li>No sean directamente de inversión (por ejemplo: contratación de personal, campañas o planes de concienciación o sensibilización, seguridad, actividades culturales, deportivas o de ocio...).</li>
      <li>No sean competencia directa del Ayuntamiento y sean competencia de otras Administraciones (como la Diputación, la Junta de Castilla León o el Estado).</li>
      <li>Superen el presupuesto disponible, tras la revisión por parte de los técnicos municipales (500.000 € por zona).</li>
      <li>No sean viables técnicamente tras la revisión de los técnicos municipales (es decir, no haya posibilidad técnica de ejecución).</li>
      <li>No cumplan con la legislación y la normativa vigente, tras la revisión de los técnicos municipales.</li>
    </ul>
    <br/>
  </ul>
<h2>¿Cómo hago mi propuesta?</h2>

  <ul>

    Puedes hacer todas las propuestas que quieras, no hay límite en esta fase.<br/><br/>

    <h4>Hay dos formas de presentar las propuestas:</h4>
      <ul>
        <li>Personalmente, depositándolas en las urnas que el Ayuntamiento pone a tu disposición en los Centros Cívicos y Centros Municipales, mediante el documento que en ellos está a tu disposición.</li>

        <li>A través de la aplicación, dándote de alta y cumplimentando el formulario que en ella aparece.</li>
      </ul>
    <br/>
    <h4>Tanto si lo haces de una u otra forma, debes indicar:</h4>
      <ul>
        <li>Título de la propuesta. Ej: <strong>"Zona de juegos infantiles en la Plaza de San Juan"</strong></li>

        <li>Breve descripción. Ej: <strong>"Ampliar la zona de juegos infantiles dotándola de mesas de ajedrez y damas"</strong>. Deberás limitarte al espacio que aparece en el formulario. Cuanto más detallada sea, se podrá priorizar y evaluar mejor por las mesas de zona y el equipo técnico municipal, además de ser fácilmente entendible para la ciudadanía en la votación final.</li>
      </ul>
  </ul>

<br/>
<h2>¿Qué zona te corresponde?</h2>
  <ul>
     <li>Zona Este 1: Delicias, Nuevo Hospital, Pinar de Jalón, Polígono San Cristóbal, Polígono Argales</li>
     <li>Zona Este 2: Pajarillos-San Isidro, Las Flores, Buenos Aires</li>
     <li>Esgueva 1: La Rondilla, Hospital</li>
     <li>Esgueva 2: Barrio España, San Pedro Regalado, Barrio Belén, Pilarica, Vadillos, Batallas, Circular</li>
     <li>Pisuerga 1: La Victoria, Fuente Berrocal, La Galera, La Overuela</li>
     <li>Pisuerga 2: Huerta del Rey, Villa del Prado, Girón</li>
     <li>Parquesol: Parquesol</li>
     <li>Zona Sur 1: 4 de Marzo, Campo Grande, La Farola, Arturo Eyries, Plaza de Toros</li>
     <li>Zona Sur 2: Covaresa, Parque Alameda, Paula López, Las Villas, Santa Ana, El Peral, Valparaiso, El Pinar, Puente Duero, La Rubia</li>
     <li>Zona Centro: Caño Argales, Plaza España, Plaza Mayor, San Pablo-San Nicolás, San Martín, La Antigua</li>
  </ul>
<br/>
<h2>¿Cómo es el proceso?</h2>
    <ul>

    <p><strong>1.</strong>  Constitución del Grupo Motor, formado por miembros designados de entre las Federaciones de Asociaciones Vecinales, quienes junto al Ayuntamiento procederán a la convocatoria de las Asambleas Ciudadanas para la constitución de las Mesas de Barrios/Zonas.</p>

    <p><strong>2.</strong>  Convocatoria de las asambleas de zona abierta a toda la ciudadanía en cada una de las zonas de la ciudad para la constitución de las Mesas de Zona. En estas asambleas se facilitará información sobre la naturaleza de las propuestas de inversiones que se pueden realizar y se procederá a la elección de los componentes de las Mesas de Zona. Podrán formar parte de la Mesa de Zona los vecinos a título individual mayores de 16 años empadronados en el municipio y representantes de asociaciones y colectivos legalmente constituidos que desarrollan su actividad en la zona. Entre los miembros de la Mesa de Zona se elegirá una persona como coordinador/a, responsable de levantar acta de cada reunión del grupo y de las asambleas ciudadanas, el envío de la documentación generada a cada miembro y la realización de las convocatorias de la mesa y de las asambleas de zona. Este cargo podrá tener carácter rotativo.</p>

    <p><strong>3.</strong>  Presentación y priorización de las propuestas. Constituida la Mesa de Zona se procederá a la apertura del plazo para que la ciudadanía pueda presentar sus propuestas. A tal efecto el Ayuntamiento pondrá a disposición de la ciudadanía a través de medios telemáticos y presenciales un modelo tipo de recogida de propuestas. Una vez recibidas las propuestas, los miembros de la Mesa procederán a su análisis. Serán rechazadas aquellas que no sean competencia de esta administración, no se ajusten al programa o programas presupuestarios establecidos, que superen el presupuesto destinado a éste proceso, que afecten a más de un ejercicio presupuestario o que, por su indefinición, no puedan concretarse en una actuación. En esta fase la Mesa podrá solicitar asesoramiento político o técnico al Ayuntamiento sobre la viabilidad presupuestaria de las propuestas. Las propuestas aceptadas serán priorizadas por la mesa con base a los siguientes criterios:</p>

    <ul>
      <li>Que atienda a necesidades básicas de la población destinadas a resolver carencias o equipamientos básicos.</li>
      <li>El número de personas beneficiadas con la propuesta.</li>
      <li>Que sea formulada para amplios colectivos ciudadanos.</li>
      <li>Que atiendan a colectivos con necesidades especiales o que intenten corregir situaciones de riesgo o exclusión social.</li>
      <li>Que no existan inversiones previas o similares.</li>
      <li>Que promuevan el equilibrio territorial, especialmente en la corrección de déficits, entre unas zonas y otras de la ciudad, y en la intervención en zonas desfavorecidas.</li>
      <li>Que tengan un contenido ecológico o sostenible: reducción de la contaminación ambiental, de suelos, de aguas, acústica o lumínica; que faciliten otras formas de sostenibilidad o el tratamiento /disminución de residuos.</li>
      <li>Que favorezca la creación de un tejido ciudadano autónomo, participativo y comprometido.</li>
      <li>Que facilite, promueva o impulse la participación de mujeres en la sociedad.</li>
    </ul>
    <br/>
    <p>Por cada criterio se aportará 0/1 puntos a la propuesta, según cumpla o no el criterio. Cada miembro de la Mesa hará su valoración.</p>

    <ul>
      <li>Con la suma de las valoraciones de cada propuesta se obtendrá una tabla clasificatoria con la puntuación total, a la que se incorporará el importe del gasto correspondiente a cada proyecto.</li>

      <li>Cada Mesa de Barrio/Zona podrá presentar un máximo de 20 propuestas para la valoración económica por el personal técnico municipal, estableciéndose un listado provisional de cinco propuestas más en caso de que algunas propuestas anteriores no sea válida.</li>
    </ul>
    <br/>
    <p><strong>4.</strong>  Valoración económica por parte del personal técnico municipal y proceso de votación de las propuestas.</p>

    <p>El personal técnico municipal procederá a valorar económicamente las propuestas remitidas por las Mesas de Zona y posteriormente se procederá a la convocatoria, por parte de cada Mesa de Zona, de una Asamblea de Zona donde se dará cuenta a la ciudadanía de los procesos de trabajo realizados y se presentará la relación de propuestas que deberán ser votadas por los/ as vecinos/as. En estas Asambleas se podrá debatir sobre las propuestas presentadas y su inclusión/exclusión de la relación elaborada por la Mesa de Zona.</p>

    <p><strong>5.</strong>  Votación. Una vez aprobado por la Asamblea la relación definitiva de propuestas se iniciará la fase de votación de las mismas, utilizando para ello los medios telemáticos que el Ayuntamiento ponga a disposición de la ciudadanía.</p>

    <p><strong>6.</strong>  Remisión al Grupo Motor Finalizado el proceso de votación las mesas de zona elaborarán la relación de las propuestas más votadas, que tengan cabida dentro del presupuesto asignado a cada zona, y su remisión al Grupo Motor.</p>

    <p><strong>7.</strong>  El Grupo Motor procederá a la revisión de la documentación recibida y a su presentación al Ayuntamiento para que las propuestas sean incorporadas al presupuesto municipal.</p>
    </ul>

  </div>
</div>

<!--
<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-7 large-8 column">
      <% if feature?(:debates) %>
        <%= render "pages/more_info/debates" %>
      <% end %>

      <%= render "pages/more_info/proposals" %>

      <% if feature?(:budgets) %>
        <%= render "pages/more_info/budgets" %>
      <% end %>

      <% if feature?(:polls) %>
        <%= render "pages/more_info/polls" %>
      <% end %>
    </div>
    <div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/more_info/sidebar" %>
    </div>
  </div>
-->

<div class="row">
  <hr>
  <div class="small-12 column">
    <%= render "pages/more_info/other" %>
  </div>

</div>
