<% provide :title do %><%= t("pages.titles.more_info", org_name: setting['org_name']) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_url %>
<% end %>

<div class="jumbo light">
  <div class="row">
    <div class="small-12 column">
      <h2><%= t("pages.more_info.title", org_name: setting['org_name']) %></h2>
      <p class="lead"><%= t("pages.more_info.subtitle") %></p>
      <p><%= t("pages.more_info.guide", org_name: setting['org_name']) %></p>
    </div>
  </div>
<!--
  <%= render "pages/more_info/menu" %>
-->
</div>
<div class="row">
  <div class="medium-9 small-12">
     
  <h3>¿Qué son los Presupuestos Participativos?</h3>

  Los  Presupuestos Participativos son un mecanismo por el que la ciudadanía decide  el destino de una parte de los recursos municipales estableciendo prioridades en materia de gastos y realizando un control posterior de los compromisos alcanzados.<br/><br/>

  <h3>¿Qué cantidad destina el Ayuntamiento a los Presupuestos Participativos?</h3>

  El Ayuntamiento de Valladolid destinará 4 millones de euros a presupuestos Participativos para el ejercicio de 2018 ,  repartidos  en 500.000 € para cada una de las zonas geográficas en que se ha dividido la ciudad.<br/><br/>

  <h3>¿Quién puede participar?</h3>

  Podrán tomar parte en este proceso los mayores de 16 años empadronados en el municipio.<br/><br/>

  <h3>¿Cuáles son las fases del proceso?</h3>

  Fases del proceso (copiar lo anterior)<br/><br/>

  <h3>¿Qué puedo proponer?</h3>

  Este año podrás hacer propuestas de inversión que desees que el Ayuntamiento ejecute durante el año 2018 en la zona donde estás empadronado (o en la zona de la ciudad que tú elijas).<br/><br/>

  Para que la propuesta sea válida, tiene que ajustarse a los siguientes criterios:<br/><br/>

  - Ser una inversión.<br/>
  - Ser de competencia municipal.<br/>
  - Ser viable técnicamente.<br/>
  - Que el coste no supere el importe de 500.000 € por zona que se destina este año a este proceso.<br/><br/>

  En qué podemos invertir:<br/><br/>

  Algunos ejemplos de inversión:<br/><br/>

  Son propuestas inviables:<br/><br/>

  <h3>¿Cómo hago mi propuesta?</h3>

  Puedes hacer todas las propuestas que quieras, no hay límite en esta fase.<br/><br/>

  Hay dos formas de presentar las propuestas:<br/><br/>

  - Personalmente, depositándolas en las urnas que el Ayuntamiento pone a tu disposición en los Centros Cívicos y Centros Municipales, mediante el documento que en ellos está a tu disposición.<br/><br/>

  - A través de la aplicación, dándote de alta y cumplimentando el formulario que en ella aparece.
  Tanto si lo haces de una u otra forma, debes indicar:<br/><br/>

  - Título de la propuesta (copiar algunos de los ejemplos que se han presentado en las asambleas)<br/><br/>

  - Breve descripción. Deberás limitarte al espacio que aparece en el formulario. Cuanto más detallada sea, se podrá priorizar y evaluar mejor por las mesas de zona y el equipo técnico municipal, además de ser fácilmente entendible para la ciudadanía en la votación final.<br/><br/>

  Ejemplos (coger de las asambleas de zona)<br/><br/><br/><br/>

    
  </div>
</div>

<!--
<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-7 large-8 column">
      <% if feature?(:debates) %>
        <%= render "pages/more_info/debates" %>
      <% end %>

      <%= render "pages/more_info/proposals" %>

      <% if feature?(:budgets) %>
        <%= render "pages/more_info/budgets" %>
      <% end %>

      <% if feature?(:polls) %>
        <%= render "pages/more_info/polls" %>
      <% end %>
    </div>
    <div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/more_info/sidebar" %>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="small-12 column">
      <%= render "pages/more_info/other" %>
    </div>
  </div>
</div>
-->
